.sidebar {
    grid-area: sidebar;
    background-color: #00CED1;
}


.content {
    grid-area: content;
    background-color: #3F250B;
    color: ivory;
}

p>ul {
    list-style-type: none;
}

ul>li {
    list-style-type: lower-alpha;
}

a {
    color: #CC5500;
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: purple;
}
.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: "header" "sidebar" "content" "footer";
}

@media screen and (min-width: 320px) {
    .wrapper {
        grid-template-areas: "header header header" "sidebar sidebar sidebar" "content content content" "footer footer footer";
    }
}

@media screen and (min-width: 576px) {
    .wrapper {
        grid-template-columns: 20% 60%;
        grid-template-areas: "header header header" "sidebar content" "footer footer footer";
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-areas: "header header header" "sidebar content" "footer footer footer"
    }
}

.box
 {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.header,
.footer {
    background-color: #ffdc9c;
}
